html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
	margin: 0;
	background-image: url("https://live.staticflickr.com/65535/48501203321_cd550a3ec8_o.jpg");
}

.text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    color: whitesmoke;
    font-size: 20px;
    top:30px;
	left: 25%;
	position: absolute;
    right: 30%;
    text-align: center;
}
#container 
{
	width: 100%;
    height: 100%;

}
.colonne {
	display: grid;
	position: absolute;
	margin-top: 10em;

}

.btn-one {
    left: 20px;
	top: 20px;
	font-size: 18px;
	margin-top: 3px;
    width: 125px;
    height: 50px;
    border-radius: 6px;
	color: antiquewhite;
	transition: all 0.9s;
	display: block;
	position: relative;
    background-color:  black;
}
.btn-one span {
	transition: all 0.3s;
}
.btn-one::before {
    content: '';
    position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.9s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(255,255,255,0.5);
	border-bottom-color: rgba(255,255,255,0.5);
	transform: scale(0.1, 1);
}
.btn-one:hover span {
	letter-spacing: 2px;
}
.btn-one:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
}
.btn-one::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
}


/* FIN TESSSSSSSSSSSSSSSSST */

